<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>TRACKING NUMBER || ||</p>
    <p>Shipping Method ||<%= @order[1] %>||</p>
    <p>Order ID ||<%= "Reship-#{@order[2]}" %>||</p>
    <p>Order Date ||<%= @order[3] %>||</p>
    <p>Shop Name ||<%= @order[4] %>||</p>
    <p>Shop Domain ||<%= @order[5] %>||</p>
    <p>Gender ||<%= @order[6] %>||</p>
    <p>Product Name ||<%= @order[7] %>||</p>
    <p>Front Design URL ||<%= @order[8] %>||</p>
    <p>Back Design URL ||<%= @order[9] %>||</p>
    <p>Front Reference URL ||<%= @order[10] %>||</p>
    <p>Back Reference URL ||<%= @order[11] %>||</p>
    <p>Status ||<%= @order[12] %>||</p>
    <p>SKU ||<%= @order[13] %>||</p>
    <p>Light/Dark ||<%= @order[14] %>||</p>
    <p>Quantity ||<%= @order[15] %>||</p>
    <p>Shipping Name ||<%= @order[16] %>||</p>
    <p>Shipping Address1 ||<%= @order[17] %>||</p>
    <p>Shipping Address2 ||<%= @order[18] %>||</p>
    <p>Shipping Company ||<%= @order[19] %>||</p>
    <p>Shipping City ||<%= @order[20] %>||</p>
    <p>Shipping ZIP ||<%= @order[21] %>||</p>
    <p>Shipping Province/State ||<%= @order[22] %>||</p>
    <p>Shipping Country ||<%= @order[23] %>||</p>
    <p>Packing Slip Logo URL ||<%= @order[24] %>||</p>
    <p>Packing Slip Message ||<%= @order[25] %>||</p>
    <p>Non-Plastic Packaging ||<%= @order[26] %>||</p>
    <p>Remove Tag ||<%= @order[27] %>||</p>
    <p>Shop Shipping Address1 ||<%= @order[28] %>||</p>
    <p>Shop Shipping Address2 ||<%= @order[29] %>||</p>
    <p>Shop Shipping City ||<%= @order[30] %>||</p>
    <p>Shop Shipping ZIP ||<%= @order[31] %>||</p>
    <p>Shop Shipping Province/State ||<%= @order[32] %>||</p>
    <p>Shop Shipping Country ||<%= @order[33] %>||</p>
  </body>
</html>