<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>TRACKING NUMBER()</p>
    <p>ShippingMethod(<%= @order[1] %>)</p>
    <p>OrderID(<%= @order[2] %>)</p>
    <p>OrderDate(<%= @order[3] %>)</p>
    <p>ShopName(<%= @order[4] %>)</p>
    <p>ShopDomain(<%= @order[5] %>)</p>
    <p>Gender(<%= @order[6] %>)</p>
    <p>ProductName(<%= @order[7] %>)</p>
    <p>FrontDesignURL(<%= @order[8] %>)</p>
    <p>BackDesignURL(<%= @order[9] %>)</p>
    <p>FrontReferenceURL(<%= @order[10] %>)</p>
    <p>BackReferenceURL(<%= @order[11] %>)</p>
    <p>Status(<%= @order[12] %>)</p>
    <p>SKU(<%= @order[13] %>)</p>
    <p>LightDark(<%= @order[14] %>)</p>
    <p>Quantity(<%= @order[15] %>)</p>
    <p>ShippingName(<%= @order[16] %>)</p>
    <p>ShippingAddress1(<%= @order[17] %>)</p>
    <p>ShippingAddress2(<%= @order[18] %>)</p>
    <p>ShippingCompany(<%= @order[19] %>)</p>
    <p>ShippingCity(<%= @order[20] %>)</p>
    <p>ShippingZIP(<%= @order[21] %>)</p>
    <p>ShippingProvinceState(<%= @order[22] %>)</p>
    <p>ShippingCountry(<%= @order[23] %>)</p>
    <p>PackingSlipLogoURL(<%= @order[24] %>)</p>
    <p>PackingSlipMessage(<%= @order[25] %>)</p>
    <p>NonPlasticPackaging(<%= @order[26] %>)</p>
    <p>RemoveTag(<%= @order[27] %>)</p>
    <p>ShopShippingAddress1(<%= @order[28] %>)</p>
    <p>ShopShippingAddress2(<%= @order[29] %>)</p>
    <p>ShopShippingCity(<%= @order[30] %>)</p>
    <p>ShopShippingZIP(<%= @order[31] %>)</p>
    <p>ShopShippingProvinceState(<%= @order[32] %>)</p>
    <p>ShopShippingCountry(<%= @order[33] %>)</p>
  </body>
</html>